# Config file for TVList
# Lines starting with # are ignored
# Parameter should not have SPACE and will be truncated

### Font and Colour Settings ######################################################################

#HTML_FontName=Andalus             ; HTML font name (DEFAULT: Calibri)
#HTML_FontName=Helvetica           ; HTML font name (DEFAULT: Calibri)
#HTML_FontName=Candara             ; HTML font name (DEFAULT: Calibri)
#Header_Color="#FFFFFF"            ; Header text color in HTML format (DEFAULT: #FFFFFF)
#Header_BGColor="#000000"          ; Header text background color in HTML format (DEFAULT: #000000)
#CSS_Link_Color=#000               ; Link color in CSS format (DEFAULT: #000)
#CSS_VLink_Color=#666              ; Visited link color in CSS format (DEFAULT: #666)
#Line1_BGColor="#FFFFFF"           ; Alternet line background color (even) in HTML format (DEFAULT: #FFFFFF)
#Line2_BGColor="#D0D0D0"           ; Alternet line background color (odd) in HTML format
#ComText_Color="#FF0000"           ; Color of text if there is a comment
#Highlight=Y                       ; Highlight mouseover row
#Highlight_BGColor=#FF0            ; Highlight mouseover background color
#Status_Break="#AAAAAA"            ; Show Status on BREAK/RETURNING (DEFAULT: #00EE00)
#Status_Ended="#CC0000"            ; Show Status has ENDED (DEFAULT: #CC0000)
#Status_Unknown="#FFA500"          ; Show Status is UNKNOWN (DEFAULT: #FFA500)
#Status_Running="#000000"          ; Show Status is RUNNING (DEFAULT: #000000)

### URL Settings ##################################################################################

#URL_EZTV=https://eztv.io
#URL_ThePirateBay=https://thepiratebay.org
#URL_ExtraTorrent=https://extratorrent.ag
#URL_LimeTorrent=https://limetorrents.info
#URL_TorrentZ2=https://torrentz2.eu
#URL_1337x=https://1337x.to
#URL_1337x=https://1337x.st
#URL_1337x=https://x1337x.ws
#URL_1337x=https://x1337x.eu
#URL_1337x=https://x1337x.se
#URL_1337x=https://1337x.is
#URL_TorGalaxy=https://torrentgalaxy.to
#URL_YesMovies=https://yesmovies.to
URL_Google=https://www.google.com.my
